.wrap-content {
    margin-bottom:0px!important;
}
.aside-container {
    padding-left: 0px!important;
}
.aside-content {
    margin-top:0px!important;
    margin-bottom: 0px!important;
    min-height: 450px;
    border-radius: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    box-shadow: none!important;
}